.loader {
	width: 70px;
	height: 70px;
	border-radius: 50%;
	border: 3px dashed teal;
	animation: load 3s infinite;
}

@keyframes load {
	from {
		transform: rotate(0deg) scale(1)
	}

	to {
		transform: rotate(360deg) scale(1.3)
	}
}