*, html {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/*----------ОБНУЛЕНИЕ----------*/
* {
	padding: 0;
	margin: 0;
	border: 0;
}

*,
*:before,
*:after {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

:focus,
:active {
	outline: none;
}

a:focus,
a:active {
	outline: none;
}

nav,
footer,
header,
aside {
	display: block;
}

html,
body {
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	font-family: Rubik, sans-serif;
}

input,
button,
textarea {
	font-family: inherit;
}

input::-ms-clear {
	display: none;
}

button {
	cursor: pointer;
}

button::-moz-focus-inner {
	padding: 0;
	border: 0;
}

a,
a:visited {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

ul li {
	list-style: none;
}

img {
	vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: inherit;
	font-weight: inherit;
}

._ibg {
	position: relative;
}

._ibg img {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	-o-object-fit: cover;
	object-fit: cover;
}

/*-----------------------------------------*/

#root {
	min-height: 100%;
	overflow: hidden;
	position: relative;
	display: flex;
	flex-direction: column;
}

.App {
	max-width: 1000px;
}

.container {
	max-width: 900px !important;
	margin: 0 auto;
}

.post {
	margin-top: 30px;
	padding: 15px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	border: 3px solid teal;
}

.posts__page {
	
}

.post__btns {
	display: flex;
}

.post-enter {
	opacity: 0;
	transform: scale(0.9);
  }
.post-enter-active {
	opacity: 1;			
	transform: translateX(0);
	transition: opacity 500ms, transform 500ms;																		
}
.post-exit {
	opacity: 1;
}
.post-exit-active {
	opacity: 0;
	transform: scale(0.9);
	transition: opacity 500ms, transform 500ms;
}

.pages {
	display: flex;
}

.pages__button {
	margin: 5px 0px;
	padding: 5px 15px;
	display: flex;
	text-align: center;
	justify-content: center;
	text-align: center;
	border: 1px solid teal;
	border-radius: 5px;
	background-color: teal;
	color: white;
	cursor: pointer;
	font-size: 14px;
	transition: all 0.3s ease 0s;
}

.pages__button:not(:last-child) {
	margin-right: 5px;
}

.pages__button:hover,
.pages__button:active {
	background-color: white;
	color: teal;
}

.pages__current {
	color: teal;
	background-color: #fff;
}

.navbar {
	width: 100vw;
	height: 57px;
}

#nav-link {
	padding: 0;
}

#nav-link:hover {
	color: black;
}

.element {
	margin: 25px 0;
}