*, html {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

#root {
	display: flex;
	justify-content: center;
}

.App {
	width: 800px;
}

.post {
	margin-top: 30px;
	padding: 15px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	border: 3px solid teal;
}

.post-enter {
	opacity: 0;
	transform: scale(0.9);
  }
.post-enter-active {
	opacity: 1;			
	transform: translateX(0);
	transition: opacity 500ms, transform 500ms;																		
}
.post-exit {
	opacity: 1;
}
.post-exit-active {
	opacity: 0;
	transform: scale(0.9);
	transition: opacity 500ms, transform 500ms;
}

.pages {
	display: flex;
}

.pages__button {
	margin: 5px 0px;
	padding: 5px 15px;
	display: flex;
	text-align: center;
	justify-content: center;
	text-align: center;
	border: 1px solid teal;
	border-radius: 5px;
	background-color: teal;
	color: white;
	cursor: pointer;
	font-size: 14px;
	transition: all 0.3s ease 0s;
}

.pages__button:not(:last-child) {
	margin-right: 5px;
}

.pages__button:hover,
.pages__button:active {
	background-color: white;
	color: teal;
}

.pages__current {
	color: teal;
	background-color: #fff;
}